@model EducationPortal.BLL.DTO.ArticleMaterialDTO
@{
    ViewData["Title"] = "Article Details";
}

<div>
    <h2 class="text-center">Material Information</h2>
    <h5><b>Article Name:</b> "@Model.Name"</h5>
    <p><b>Date of publish (dd/mm/yyyy):</b> @Model.DateOfPublish.Day/@Model.DateOfPublish.Month/@Model.DateOfPublish.Year</p>
    <p><b>URL:</b> @Model.Resource</p>
    <br />
    @if (User.IsInRole("admin") || User.Identity.Name == Model.UserNameCreate)
    {
        <p class="text-info">Last Edit Time: @Model.Created</p>
        <p class="text-info">Edit User: @Model.UserNameCreate</p>
        <form asp-action="edit" method="get" asp-route-id="@Model.Id">
            <input type="submit" value="Edit">
        </form>

        <form asp-controller="material" asp-action="Delete" method="post" asp-route-id="@Model.Id">
            <input type="submit" value="Delete">
        </form>
    }
</div>